{% extends 'base.html' %}

{% block main %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                    <article class="post post-{{ post0.pk }}">
                        <header class="entry-header">
                            <h1 class="entry-title">{{ post0.title }}</h1>
                            <div class="entry-meta">
                                <span class="post-category"><a href="#">{{ post0.category.name }}</a></span>
                                <span class="post-date"><a href="#"><time class="entry-date"
                                                                          datetime="{{ post0.created_time }}">{{ post0.created_time }}</time></a></span>
                                <span class="post-author"><a href="#">{{ post0.author }}</a></span>
                                <span class="comments-link"><a href="#">4 评论</a></span>
                                <span class="views-count"><a href="#">588 阅读</a></span>
                            </div>

                        </header>
                        <div class="entry-content clearfix">
    {{ post0.body|safe }}

{# safe 是 Django 模板系统中的过滤器（Filter），可以简单地把它看成是一种函数，#}
{#其作用是作用于模板变量，将模板变量的值变为经过滤器处理过后的值。例如这里 {{ post.body|safe }}，#}
{#本来 {{ post.body }} 经模板系统渲染后应该显示 body 本身的值，但是在后面加上 safe 过滤器后，#}
{#渲染的值不再是body 本身的值，而是由 safe 函数处理后返回的值。#}
{#过滤器的用法是在模板变量后加一个 | 管道符号，再加上过滤器的名称。#}
{#可以连续使用多个过滤器，例如 {{ var|filter1|filter2 }}   #}

 </div>
                    </article>
                    <section class="comment-area" id="comment-area">
                        <hr>
                        <h3>发表评论</h3>
                        <form action="#" method="post" class="comment-form">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="id_name">名字：</label>
                                    <input type="text" id="id_name" name="name" required>
                                </div>
                                <div class="col-md-4">
                                    <label for="id_email">邮箱：</label>
                                    <input type="email" id="id_email" name="email" required>
                                </div>
                                <div class="col-md-4">
                                    <label for="id_url">网址：</label>
                                    <input type="text" id="id_url" name="url">
                                </div>
                                <div class="col-md-12">
                                    <label for="id_comment">评论：</label>
                                    <textarea name="comment" id="id_comment" required></textarea>
                                    <button type="submit" class="comment-btn">发表</button>
                                </div>
                            </div>    <!-- row -->
                        </form>
                        <div class="comment-list-panel">
                            <h3>评论列表，共 <span>4</span> 条评论</h3>
                            <ul class="comment-list list-unstyled">
                                <li class="comment-item">
                                    <span class="nickname">追梦人物</span>
                                    <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年3月12日 14:56</time>
                                    <div class="text">
                                    文章观点又有道理又符合人性，这才是真正为了表达观点而写，不是为了迎合某某知名人士粉丝而写。我觉得如果琼瑶是前妻，生了三孩子后被一不知名的女人挖了墙角，我不信谁会说那个女人是追求真爱，说同情琼瑶骂小三的女人都是弱者。
                                </div>
                                </li>
                                <li class="comment-item">
                                    <span class="nickname">zmrenwu</span>
                                    <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年3月11日 23:56</time>
                                    <div class="text">
                                    本能有可能会冲破格局，但格局有时候也会拘住本能。
                                </div>
                                </li>
                                <li class="comment-item">
                                    <span class="nickname">蝙蝠侠</span>
                                    <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年3月9日 8:56</time>
                                    <div class="text">
                                    其实真理一般是属于沉默的大多数的。那些偏激的观点只能吸引那些同样偏激的人。前几年琼瑶告于妈抄袭，大家都表示大快人心，说明吃瓜观众都只是就事论事，并不是对琼瑶有偏见。
                                </div>
                                </li>
                                <li class="comment-item">
                                    <span class="nickname">长江七号</span>
                                    <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年2月12日 12:56</time>
                                    <div class="text">
                                    观点我很喜欢！就是哎嘛本来一清二楚的，来个小三小四乱七八糟一团乱麻夹缠不清，简直麻烦要死
                                </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </main>

            </div>
        </div>
    </div>
    <footer id="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright">&copy 2017 - Collect from <a href="http://test.crm.hipac.cn/index.html"
                                                                      target="_blank" title="hipac">yangtuo</a>
                        - Modified by <a href="https://github.com/buer1990/Myblog" title="我的博客" target="_blank">我的博客仓库</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock main %}

{% block toc %}

{% endblock toc %}